In [3]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

## 2017 raw data ( https://www.data.go.kr/ )

In [255]:
q2_1 = pd.read_csv('../../seoul_bike_rental_hist/hist_2017_2q_1.csv', encoding="euc_kr")
q2_2 = pd.read_csv('../../seoul_bike_rental_hist/hist_2017_2q_2.csv', encoding="euc_kr")

In [269]:
q3_1 = pd.read_csv('../../seoul_bike_rental_hist/hist_2017_3q_1.csv', encoding="euc_kr")
q3_2 = pd.read_csv('../../seoul_bike_rental_hist/hist_2017_3q_2.csv', encoding="euc_kr")

In [290]:
q4_1 = pd.read_csv('../../seoul_bike_rental_hist/hist_2017_4q_1.csv', encoding="euc_kr")
q4_2 = pd.read_csv('../../seoul_bike_rental_hist/hist_2017_4q_2.csv', encoding="euc_kr")

In [256]:
q2 = pd.concat([q2_1, q2_2])

In [270]:
q3 = pd.concat([q3_1, q3_2])

In [291]:
q4 = pd.concat([q4_1, q4_2])

## 2018 raw data ( https://www.data.go.kr/ )

In [474]:
q1_1_18 = pd.read_csv('../../seoul_bike_rental_hist/rental_hist_2018_q1_1.csv', encoding="euc_kr")

In [371]:
q2_1_18 = pd.read_csv('../../seoul_bike_rental_hist/rental_hist_2018_q2_1.csv', encoding="euc_kr")
q2_2_18 = pd.read_csv('../../seoul_bike_rental_hist/rental_hist_2018_q2_2.csv', encoding="euc_kr")
q2_3_18 = pd.read_csv('../../seoul_bike_rental_hist/rental_hist_2018_q2_3.csv', encoding="euc_kr")
q2_4_18 = pd.read_csv('../../seoul_bike_rental_hist/rental_hist_2018_q2_4.csv', encoding="euc_kr")

In [373]:
q2_18 = pd.concat([q2_1_18, q2_2_18, q2_3_18, q2_4_18])

In [486]:
q1_18_s = q1_1_18.drop(columns=["'자전거번호'", "'대여대여소번호'", "'대여대여소명'", "'대여거치대'", "'반납대여소번호'", "'반납대여소명'", "'반납거치대'", "'반납일시'"])
q1_18_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784734 entries, 0 to 784733
Data columns (total 4 columns):
'대여일시'                            784734 non-null object
'이용시간(분)'                         784734 non-null int64
'이용거리(M)'                         784734 non-null int64
distance_group_by_minutes_used    784734 non-null int64
dtypes: int64(3), object(1)
memory usage: 23.9+ MB

In [487]:
q2_18_s = q2_18.drop(columns=["'자전거번호'", "'대여대여소번호'", "'대여대여소명'", "'대여거치대'", "'반납대여소번호'", "'반납대여소명'", "'반납거치대'", "'반납일시'"])

In [488]:
q2_18_s.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2782487 entries, 0 to 586303
Data columns (total 3 columns):
'대여일시'       object
'이용시간(분)'    int64
'이용거리(M)'    int64
dtypes: int64(2), object(1)
memory usage: 164.9+ MB

In [491]:
q1_18_s['distance_group_by_minutes_used'] = [1 if 0 < d < 10 else 2 if 10 <= d < 20 else 3 if 20 <= d < 30 else 4 for d in q1_18_s["'이용시간(분)'"]]

In [490]:
q2_18_s['distance_group_by_minutes_used'] = [1 if 0 < d < 10 else 2 if 10 <= d < 20 else 3 if 20 <= d < 30 else 4 for d in q2_18_s["'이용시간(분)'"]]

In [492]:
minutes_used_q1_18 = q1_18_s['distance_group_by_minutes_used'].value_counts()
minutes_used_q1_18

1    275887
4    217473
2    197312
3     94062
Name: distance_group_by_minutes_used, dtype: int64

In [494]:
minutes_used_q2_18 = q2_18_s['distance_group_by_minutes_used'].value_counts()
minutes_used_q2_18

4    1003364
1     731169
2     674806
3     373148
Name: distance_group_by_minutes_used, dtype: int64

In [495]:
q1_18_s['distance_group_by_minutes_used'].value_counts(normalize=True)

1    0.351568
4    0.277130
2    0.251438
3    0.119865
Name: distance_group_by_minutes_used, dtype: float64

In [496]:
q2_18_s['distance_group_by_minutes_used'].value_counts(normalize=True)

4    0.360600
1    0.262775
2    0.242519
3    0.134106
Name: distance_group_by_minutes_used, dtype: float64

In [497]:
q1_18_s.groupby('distance_group_by_minutes_used').describe()

                               '이용거리(M)'                                 \
                                   count         mean          std  min
distance_group_by_minutes_used
1                               275887.0  1472.601210  4950.302141  0.0
2                               197312.0  2903.431266  5789.464777  0.0
3                                94062.0  4400.624269  6265.285907  0.0
4                               217473.0  7930.321723  7865.676334  0.0

                                                                 '이용시간(분)'  \
                                   25%     50%     75%       max     count
distance_group_by_minutes_used
1                                740.0  1010.0  1350.0  254820.0  275887.0
2                               1730.0  2220.0  2820.0  255810.0  197312.0
3                               2750.0  3660.0  4660.0  230470.0   94062.0
4                               3940.0  6340.0  9480.0  250590.0  217473.0

                                                                              \
                                     mean        std   min   25%   50%   75%
distance_group_by_minutes_used
1                                5.589905   2.128770   2.0   4.0   6.0   7.0
2                               13.812389   2.836047  10.0  11.0  13.0  16.0
3                               24.005954   2.867045  20.0  21.0  24.0  26.0
4                               59.328933  32.942732  30.0  38.0  50.0  71.0


                                   max
distance_group_by_minutes_used
1                                  9.0
2                                 19.0
3                                 29.0
4                               3158.0

In [498]:
q2_18_s.groupby('distance_group_by_minutes_used').describe()

                                '이용거리(M)'                                 \
                                    count         mean          std  min
distance_group_by_minutes_used
1                                731169.0  1633.573524  6521.922634  0.0
2                                674806.0  2939.641645  6976.825295  0.0
3                                373148.0  4401.106987  7201.971654  0.0
4                               1003364.0  8442.822376  8714.142919  0.0

                                                                   '이용시간(분)'  \
                                   25%     50%      75%       max      count
distance_group_by_minutes_used
1                                690.0   970.0   1320.0  255910.0   731169.0
2                               1640.0  2130.0   2730.0  255550.0   674806.0
3                               2690.0  3570.0   4560.0  255690.0   373148.0
4                               4270.0  6640.0  10050.0  255070.0  1003364.0

                                                                              \
                                     mean        std   min   25%   50%   75%
distance_group_by_minutes_used
1                                5.789655   2.129378   2.0   4.0   6.0   8.0
2                               13.960689   2.838651  10.0  11.0  14.0  16.0
3                               24.104642   2.862248  20.0  22.0  24.0  27.0
4                               60.820738  33.669547  30.0  39.0  51.0  73.0


                                   max
distance_group_by_minutes_used
1                                  9.0
2                                 19.0
3                                 29.0
4                               4320.0

In [499]:
q1_18_s.head()

                  '대여일시'  '이용시간(분)'  '이용거리(M)'  distance_group_by_minutes_used
0  '2018-01-01 00:00:10'          3         50                               1
1  '2018-01-01 00:00:42'         24       7670                               3
2  '2018-01-01 00:00:58'          8       1390                               1
3  '2018-01-01 00:01:02'          8       1820                               1
4  '2018-01-01 00:01:03'          4        850                               1

In [500]:
first_half_18 = pd.concat([q1_18_s, q2_18_s])
first_half_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3567221 entries, 0 to 586303
Data columns (total 4 columns):
'대여일시'                            object
'이용시간(분)'                         int64
'이용거리(M)'                         int64
distance_group_by_minutes_used    int64
dtypes: int64(3), object(1)
memory usage: 136.1+ MB